
#menu{
    background-color: var(--color-background-login);
    height: 100vh;
}

.nav-link{
    color:white;
    transition: .5s;
}

.nav-link:hover, .nav-link:focus{
    color:rgb(170, 170, 170)
}

