:root{
    --color-background-login: #465866;
    --color-background-primary: #0b80da;
    --color-background-primary-hover: #0a6fbd;

    --color-background-secondary: #11578d;
    --color-background-secondary-hover: #1d74b6;
/* 
    --color-background-info:#084298;
    --color-border-info:#b6d4fe;
    --color-info: #084298;

    --color-background-success:#d1e7dd;
    --color-border-success:#badbcc;
    --color-success: #0f5132;

    --color-background-danger:#f8d7da;
    --color-border-danger:#f5c2c7;
    --color-danger: #842029; */

}

html, body{
    overflow-x:hidden;
    width: 100vw;
    height: 100vh;
    margin:0;
    padding:0;
    background-color: var(--color-background-login);
    color: white;
    


}
tr{
    color: white;

}
thead{
    background-color: var(--color-background-secondary-hover);
}
tbody{
    background-color: var(--color-background-secondary);

}
tbody>tr:hover{
    background-color: var(--color-background-secondary-hover);

}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 1rem !important;
    font-size: 1.2rem;
    align-items: center;

}

select{
    text-align: center;
    font-size: 1.2rem;
    padding: 0.4rem;
}
.alert{
    width: 50%;
    text-align: center;
}

@media (max-width: 1365px) {
    :root{
        font-size: 70%;
    }
    td, th {
        padding: 0.5rem !important;
    }

    .alert{
        width: 100%;

    }
}
.iconTable:hover{
    cursor: pointer;
    color:#aaa;

}

